Bachelor of Science in Physics
On This Page
Prescribed Work Common to All Options
Additional Prescribed Work for Each Option
Option I: Physics
Option II: Computation
Option III: Radiation Physics
Option IV: Space Sciences
Option V: Teaching
Option VI: Physics Honors
Option VII: Biophysics
Special Requirements
All aspects of the physical universe are of interest to the physicist, who seeks to understand not only the smallest forms of matter and the rich phenomena present in our everyday lives but also the universe itself. Physics has played a critical role in human technological and intellectual development during the twentieth century. The tools of the physicist—observation, imagination, model building, prediction, and deduction—will enable physics to continue this influence into the new century. The Bachelor of Science in Physics degree program is designed to provide the skills, understanding, and outlook required for participation in the discovery of new knowledge about nature.

The Bachelor of Science in Physics program is balanced and broad. It is designed to give the student a strong foundation for graduate study or work in physics and, with additional training, for work in a variety of other areas, such as astronomy, astrophysics, biophysics, chemical physics, computer science, engineering, geophysics, mathematics, medicine, physics teaching, and space sciences. Students who end their formal training with the bachelor’s degree may seek employment in industry, in national laboratories, or in teaching; they should consider the options in computation, radiation physics, space sciences, biophysics, and teaching, which augment the broad instruction provided by the basic Bachelor of Science in Physics. For those who plan to teach physics in secondary school, the teaching option provides the courses needed for certification.

Students who plan to follow Option VI, Physics Honors, must be admitted to the Dean’s Scholars Honors Program.

Prescribed Work Common to All Options
In the process of fulfilling degree requirements, all students must complete:

Core curriculum
Skills and experience flags:
a. Writing: two flagged courses beyond Rhetoric and Writing 306 or its equivalent, including one at the upper-division level
b. Quantitative reasoning: one flagged course
c. Global cultures: one flagged course
d. Cultural diversity in the United States: one flagged course
e. Ethics: one flagged course
f. Independent inquiry: one flagged course
Courses with flags are identified in the Course Schedule. They may be used simultaneously to fulfill other requirements, unless otherwise specified.

Options I–IV and VII: one of the following foreign language/culture choices: (Students in Options V and VI are exempt from this requirement) 
Beginning level proficiency coursework, or the equivalent, in a foreign language
First course in a foreign language and a three-semester-hour course in the culture of the same language area
Two three-semester-hour courses in one foreign culture area; the courses must be chosen from an approved list available in the dean’s office and the college advising centers
Thirty-six semester hours of upper-division coursework
At least 21 semester hours of upper-division coursework, including at least 12 semester hours of upper-division coursework in physics, must be completed in residence at the University
Additional Prescribed Work for Each Option
Option I: Physics
This option is designed to give the student a strong foundation for graduate study or work in physics and for further study or work in a variety of other areas.

Chemistry 301 or 301C, and 302 or 302C
Six semester hours in biology, geological sciences, or astronomy; a course may not be used to fulfill this requirement if it cannot be counted toward major requirements in the department that offers it
Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K and 427L, and six additional semester hours of upper-division coursework in mathematics; the following courses are recommended: Mathematics 340L, 361, and 362K; only courses at the level of calculus and above may be counted toward the total number of hours required for the degree
Physics 336K, 352K, 353L, 355, 362K, 369, 373, and 474, or their equivalents
One of the following: Physics 352L 362L, 375C, 375R, 375C, or 375S.
Enough additional coursework to make a total of 126 semester hours
Option II: Computation
This Option is designed to provide the necessary foundation and hands-on skill in computation for the student who plans a career or further study in computational physics or computer science. Students who complete this option may simultaneously fulfill some of the requirements of the Scientific Computation and Data Sciences Certificate.

Chemistry 301 or 301C, and 302 or 302C
Six semester hours in biology, geological sciences, or astronomy; a course may not be used to fulfill this requirement if it cannot be counted toward major requirements in the department that offers it
Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K and 427L, and six additional semester hours of upper-division coursework in mathematics or statistics and data sciences; Statistics and Data Sciences 329C and Mathematics 362K are recommended; only courses at the level of calculus and above may be counted toward the total number of hours required for the degree
Physics 329, 336K, 338K, 352K, 353L, 355, 369, and 373, or their equivalents
One of the following scientific computation options:
 Computer Science 303E; Computer Science 313E or Statistics and Data Sciences 322; and two courses from two of the areas listed below:
Numerical methods: Chemical Engineering 348, Computer Science 323E, 323H, 367, Mathematics 348, Statistics and Data Sciences 335
Statistical methods: Biomedical Engineering 335, Mathematics 358K, 378K
Other computing topics: Computer Science 324E, 327E, 329E, 377, Mathematics 346, 362M, 368K, 372K, 376C, Mechanical Engineering 367S, 374C, 374E
Twelve semester hours chosen from Electrical and Computer Engineering 306, 312, 316, 319K, and 422C
Enough additional coursework to make a total of 126 semester hours
Option III: Radiation Physics
This Option is designed to provide the necessary foundation for the student who plans a career or further study in nuclear engineering, radiation engineering, or health physics.

Chemistry 301 or 301C, and 302 or 302C
Six semester hours in biology, geological sciences, or astronomy; a course may not be used to fulfill this requirement if it cannot be counted toward major requirements in the department that offers it
Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K and 427L, and six additional semester hours of upper-division coursework in mathematics; the following courses are recommended: Mathematics 340L, 361, and 362K; only courses at the level of calculus and above may be counted toward the total number of hours required for the degree
Twenty-four semester hours of upper-division coursework in physics, including Physics 336K, 352K, 353L, 355, 362L, 369, and 373, or their equivalents
Eighteen semester hours of upper-division coursework in mechanical engineering, consisting of Mechanical Engineering 337C, 337F, 337G, 361E, 361F, and 336P
Enough additional coursework to make a total of 126 semester hours
Option IV: Space Sciences
This Option is designed to provide the necessary foundation for the student who plans a career or further study in space sciences.

Chemistry 301 or 301C, and 302 or 302C
Six semester hours in biology, geological sciences, or astronomy; a course may not be used to fulfill this requirement if it cannot be counted toward major requirements in the department that offers it
Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K and 427L, and six additional semester hours of upper-division coursework in mathematics; the following courses are recommended: Mathematics 340L, 361, and 362K; only courses at the level of calculus and above may be counted toward the total number of hours required for the degree
Physics 329, 336K, 352K, 353L, 355, 362K, 369, and 373, or their equivalents
Either 15 semester hours of upper-division coursework in aerospace engineering or 12 hours in aerospace engineering and three additional hours of upper-division coursework in physics
Enough additional coursework to make a total of 126 semester hours
Option V: Teaching
This Option is designed to fulfill the course requirements for certification as a middle grades or secondary school science teacher in Texas; the student chooses composite science certification with physics as the primary teaching field, physical sciences certification, physics/mathematics certification, or mathematics, physical science, and engineering certification. However, completion of the course requirements does not guarantee the student’s certification. For information about additional requirements, students should consult the UTeach-Natural Sciences academic advisor.

Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K, and 427L
At least 18 semester hours of upper-division coursework in physics, consisting of Physics 341 (Topic 7: Research Methods: UTeach), 353L, 355, and three of the following courses: Physics 329, 333, 336K, 338K, 352K, 373, Science 365; with the consent of the UTeach-Natural Sciences undergraduate advisor, an upper-division physics course that includes a substantial research component may be substituted for Physics 341
History 329U or Philosophy 329U
The requirements of one of the following certification areas:
For composite science certification:
Biology 311C and 311D
Chemistry 301 or 301C and 302 or 302C
Six hours of coursework in geological sciences; courses intended for non-science majors may not be counted toward this requirement
Enough additional approved coursework in biology, chemistry, or geological sciences to provide the required 12 hours in a second field
For physical sciences certification:
Chemistry 301 or 301C, 302 or 302C, 204 or 317, 353, 153K, 154K, 354L, and 455 or 456
Three additional hours of upper-division coursework in physics
For physics/mathematics certification: Mathematics 315C, 325K, 333L, 341 or 340L, 358K, 362K, 375D
For mathematics, physical science, and engineering certification:
Mathematics 315C, 325K, 333L, 358K, and 362K
Chemistry 301 or 301C, 302 or 302C, and 204
Engineering Studies 301; and Mechanical Engineering 377K upon approval of the project by the UTeach Program.
Eighteen semester hours of professional development coursework consisting of:
Curriculum and Instruction 651S (Topic 3: Secondary School Teaching Practicum: Math) or 651S (Topic 4: Secondary School Teaching Practicum: Science)
Curriculum and Instruction 365C or UTeach-Natural Sciences 350
Curriculum and Instruction 365D or UTeach-Natural Sciences 355
Curriculum and Instruction 365E or UTeach-Natural Sciences 360
UTeach-Natural Sciences 101, 110, and 170
Students seeking middle grades certification must complete the following courses: Educational Psychology 350G, or  Psychology 301 and 304; and Curriculum and Instruction 339E
Enough additional coursework to make a total of at least 126 semester hours
Option VI: Physics Honors
Breadth requirement: Biology 315H and 325H, Chemistry 301C and 302C, and Mathematics 427J  and 427L; at least one of the math courses must be a designated honors section; credit earned by examination may not be counted toward this requirement
Mathematics 340L and 361
Physics 301, 101L, 316, 116L, 315, and 115L
Physics 336K, 352K, 353L, 355, 362K, 362L, 369, 373, and 474
A section of Undergraduate Studies 302 or 303 that is approved by the departmental honors advisor
A section of Rhetoric and Writing 309S that is restricted to students in the Dean’s Scholars Honors Program
Physics 379H and a three-semester-hour upper-division research course approved by the departmental honors advisor
Ten additional semester hours of coursework approved by the departmental honors advisor
Six semester hours of coursework from the College of Liberal Arts and/or the College of Fine Arts
Enough additional coursework to make a total of 120 semester hours
Option VII: Biophysics
Chemistry 301 or 301C and 302 or 302C
Either Biology 311C, 311D, and 325 or Biology 315H and 325H; Biology 206L
Physics 301, 101L, 316, 116L, 315, and 115L
Mathematics 408C and 408D or the equivalent, 427J or 427K and 427L, and six additional semester hours of upper-division coursework in mathematics; the following courses are recommended: Mathematics 340L, 361, and 362K
Physics 336K, 345, 352K, 353L, 355, 369, and 373 or their equivalents
Either Chemistry 320M or 328M, and Biochemistry 369
Complete one of the following areas:
Cell Biology: Molecular Biosciences 320
Microbiology: Molecular Biosciences 326R
Developmental Biology: Molecular Biosciences 350
Neurobiology:  Neuroscience 371M
Virology: Molecular Biosciences 330
Computation: Statistics and Data Sciences 335 and Biology 337J
A list of recommended biology laboratory courses that complement the lecture courses listed in 12a through 12e are available in the advising center and the dean's office.

Enough additional coursework to make a total of 126 semester hours
Special Requirements
Students in all options must fulfill both the University's General Requirements for graduation and the college requirements. They must also earn a grade of at least C- in each mathematics and science course required for the degree, and a grade point average in these courses of at least 2.00. More information about grades and the grade point average is given in the General Information Catalog.

To graduate and be recommended for certification, students who follow the Teaching Option must have a University grade point average of at least 2.50. They must earn a grade of at least C- in the supporting course in requirement 9 and in each of the professional development courses listed in requirement 11 and must pass the final teaching portfolio review; those seeking middle grades certification must also earn a grade of at least C- in each of the courses listed in requirement 12. Information about the portfolio review and additional teacher certification requirements is available from the UTeach-Natural Sciences academic advisor.

To graduate under Option VI, students must remain in good standing in the Dean’s Scholars Honors Program, must submit an honors thesis approved by the departmental honors advisor, and present their research in an approved public forum, such as the college’s annual Undergraduate Research Forum. More information about the Undergraduate Research Forum is available at https://cns.utexas.edu/.